@import "../Helpers/Helpers.scss";


.footer-section-main {
    padding: 80px 0;
    background-color: $black;
    color: $white;
    padding-bottom: 0;

    .container {

        .main-footer-flex {
            display: flex;
            justify-content: space-between;
        }

        .left-side-footer {
            margin-top: 50px;
            display: flex;
            gap: 140px;

            ul {
                h4 {
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 30px;
                }

                li {
                    color: $somokeBlue;
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: 0.3s ease;
                    display: flex;
                    &:hover {
                        color: $white;
                    }

                    .location-info {
                        margin: 5px 0;
                        margin-left: 15px;

                        h5 {
                            color: $white;
                            font-weight: 400;
                        }
                    }
                }

                .socials-footer {
                    margin-top: 55px;
                    h4 {
                        margin: 0;
                    }

                    .socials-icons {
                        margin-top: 10px;
                        img {
                            margin-right: 10px;
                            cursor: pointer;
                            transition: 0.3s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        .right-side-footer {
            display: flex;
            gap: 30px;
            .block-footer-right {
                background-color: $blue;
                width: 357px;
                height: 378px;
                padding: 30px;

                h4 {
                    font-weight: 400;
                    font-size: 22px;
                    margin-bottom: 30px;
                }

                p {
                   font-weight: 300; 
                   margin-bottom: 20px;
                }

                button {
                    @include buttonStyle(100%, 50px, $blue, $white);
                    margin-top: 15px;
                    font-size: 18px;
                }
            }
        }
    }
    

    .copy-footer {
        border-top: 2px solid $white;
        margin-top: 80px;
        padding: 20px 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
                li {
                    font-size: 12px;
                    color: $somokeBlue;
                    margin-left: 30px;
                    cursor: pointer;
                }
            }
        }

        p {
            font-size: 12px;
            color: $somokeBlue;
        }
    }
}

// responsive width
@media (max-width: 1514px) {
    .footer-section-main {
        .container {
            padding: 0 40px;

            .main-footer-flex {
                gap: 20px;
            }
        } 
    }
}
@media (max-width: 1364px) {
    .footer-section-main {
        .container {
            .main-footer-flex {
                gap: 20px;
                .left-side-footer {
                    flex-direction: column;
                }
                .right-side-footer  {
                    flex-direction: column;
                }

            }
        } 
    }
}



// responsive height
@media (max-height: 830px) {
    .footer-section-main {
        .container {
            padding: 0 40px;
        } 
    }
}