@import "../Helpers/Helpers.scss";


.gamma-section {
    margin: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        h6 {
            font-size: 50px;
            font-weight: 500;
            line-height: 60px;
        }
        p {
            max-width: 1000px;
            color: $gray;
            margin-bottom: 20px;
        }
        button {
            @include buttonStyle(146px, 50px, $white, $blue);
        }
        
    }
}


// responsive height
@media (max-height: 830px) {
    .gamma-section {
        .container {
            padding: 0 40px;
        }
    }
}


// responsive width
@media (max-width: 1578px) {
    .gamma-section {
        .container {
            padding: 0 20px;
            justify-content: center;
            gap: 50px;
        }
    }
}
@media (max-width: 1102px) {
    .gamma-section {
        .container {
            flex-direction: column;
            align-items: left;
            gap: 20px;
        }
    }
}
@media (max-width: 431px) {
    .gamma-section {
        margin: 20px 0;
        .container {
            h6 {
                font-size: 35px;
                line-height: 40px;
            }
        }
    }
}