@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&display=swap");
body {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1518px;
  margin: 0 auto;
}

.button-center {
  width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.hero-section {
  height: 90vh;
  background-image: url("../images/hero-image-main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-section .overlay-hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero-section .container {
  padding-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .left-hero {
  width: 486px;
  color: #FFFFFF;
  z-index: 100;
}

.hero-section .left-hero p {
  margin: 20px 0 30px;
}

.hero-section .left-hero img {
  margin-right: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.hero-section .left-hero img:hover {
  background-color: #304DE5;
  border-radius: 50%;
}

.hero-section .left-hero button {
  color: #FFFFFF;
  border: none;
  background-color: #304DE5;
  width: 139px;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.hero-section .left-hero button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-section .left-hero button img {
  margin-right: 10px;
}

.hero-section .right-hero {
  width: 759px;
  height: 570px;
  background-color: #FFFFFF;
  position: relative;
}

.hero-section .right-hero .window-hero-img {
  position: absolute;
  top: 85px;
  left: -110px;
  width: 516px;
  height: 410px;
  z-index: 2;
}

.hero-section .right-hero .waves-hero {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero-section .right-hero .content-right-hero {
  width: 330px;
  position: absolute;
  bottom: 60px;
  right: 30px;
}

.hero-section .right-hero .content-right-hero h4 {
  color: #304DE5;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
}

.hero-section .right-hero .content-right-hero h5 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-section .right-hero .content-right-hero .view-btn-hero {
  color: #304DE5;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.hero-section .right-hero .content-right-hero .view-btn-hero:hover {
  margin-left: 30px;
}

.hero-section .right-hero .content-right-hero p {
  color: #706E7E;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section .right-hero .content-right-hero p img {
  margin-left: 10px;
}

.hero-section .footer-hero {
  background-color: #304DE5;
  max-width: 1518px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 80px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .footer-hero .block-footer-main {
  color: #FFFFFF;
  margin-top: -40px;
}

.hero-section .footer-hero .block-footer-main .circle {
  background-color: #FFFFFF;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.hero-section .footer-hero .content-block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.hero-section .footer-hero .content-block-footer:hover {
  margin-left: 20px;
  color: #706E7E;
}

.hero-section .footer-hero .content-block-footer .right-icon-white {
  margin-left: 10px;
}

@media (max-width: 1348px) {
  .hero-section .left-hero {
    width: 350px;
  }
  .hero-section .right-hero {
    width: 620px;
    height: 400px;
  }
  .hero-section .right-hero .window-hero-img {
    width: 300px;
    height: 250px;
    top: 200px;
  }
  .hero-section .right-hero .content-right-hero {
    z-index: 2;
  }
}

@media (max-width: 935px) {
  .hero-section .right-hero {
    display: none;
  }
  .hero-section .left-hero {
    width: 470px;
  }
}

@media (max-width: 770px) {
  .hero-section .left-hero {
    padding: 0 10px;
  }
  .hero-section .footer-hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-color: #304DE5;
    max-width: 1518px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 270px;
    padding: 20px;
  }
  .hero-section .footer-hero .block-footer-main {
    margin-top: 0;
  }
  .hero-section .footer-hero .block-footer-main .content-block-footer {
    display: block;
  }
}

@media (max-height: 870px) {
  .hero-section .container {
    padding: 0 40px;
    padding-top: 60px;
  }
}

@media (max-height: 850px) {
  .hero-section .container {
    padding: 0 40px;
    padding-top: 20px;
  }
  .hero-section .right-hero {
    height: 520px;
  }
}
/*# sourceMappingURL=Hero-section.css.map */