@import "../Helpers/Helpers.scss";

.stepenice-seciton {
    margin: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content-stepenice {
            width: 614px;
            h2 {
                font-size: 50px;
                font-weight: 400;
            }
            p {
                color: $gray;
                margin: 20px 0;
            }
            button {
                @include buttonStyle(146px, 50px);
            }
        }
    }
}

// responsive height
@media (max-height: 830px) {
    .stepenice-seciton {
        .container {
            padding: 0 40px;
        }
    }
}