@import "../Helpers/Helpers.scss";

.stepenice-seciton {
    margin: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content-stepenice {
            max-width: 614px;
            h2 {
                font-size: 50px;
                font-weight: 400;
            }
            p {
                color: $gray;
                margin: 20px 0;
            }
            button {
                @include buttonStyle(146px, 50px, $white, $blue);
            }
        }
    }
}

// responsive width
@media (max-width: 1514px) {
    .stepenice-seciton {
        .container {
            padding: 0 40px;
        }
    }
}
@media (max-width: 1400px) {
    .stepenice-seciton {
        .container {
            gap: 20px;
            .content-stepenice {
                max-width: 600px;
            }
            img {
                width: 600px;
            }
        }
    }
}
@media (max-width: 1065px) {
    .stepenice-seciton {
        .container {
            
            img {
                width: 400px;
            }
            
        }
    }
}
@media (max-width: 831px) {
    .stepenice-seciton {
        .container {
            flex-direction: column;

            .content-stepenice {
                h2 {
                    font-size: 30px;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}

// responsive height
@media (max-height: 830px) {
    .stepenice-seciton {
        margin: 0;
        .container {
            padding: 0 40px;
        }
    }
}