@import "../Helpers/Helpers.scss";

.teverden-main-bg {
    background-image: url("../images/teeverden-bg.png");
    height: 876px;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;

    .wave-blue {
            position: absolute;
            bottom: -80px;
            right: 190px;
            z-index: -2;
    }

    .overlay-teverden {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    .container {
        padding-top: 80px;
        height: 100%;
        position: relative;
        
        h2 {
            text-align: center;
            color: $white;
            font-size: 50px;
            font-weight: 400;
        }
        
        button {
            @include buttonStyle(238px, 50px, $white, $blue);
            font-size: 18px;
        }

        .images-boxes-taverden {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-top: 50px;
        }

        .images-boxes-taverden:nth-child(2) {
            position: relative;

            
            .left-circle {
                position: absolute;
                top: 180px;
                left: -50px;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                    transform: scale(0.9);
                }
            }
            .right-circle {
                position: absolute;
                top: 180px;
                right: -50px;
                z-index: 1;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                    transform: scale(0.9);
                }
            }
        }

        .box-taverden {
            width: 486px;
            height: 525px;
            background-color: $white;
            position: relative;
            
            .logo-gray {
                position: absolute;
                top: 67px;
                left: 30px;
            }
            .content-box-taverden {
                padding: 30px;
                padding-top: 10px;
                h4 {
                    font-size: 22px;
                    font-weight: 400;
                }
                p {
                    color: $gray;
                    margin-top: 10px;
                }
                .view-btn-hero {
                    color: $blue;
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: 500;
                    transition: 0.3s ease;
                    cursor: pointer;
                    position: absolute;
                    bottom: 20px;
                    &:hover {
                        margin-left: 10px;
                    }
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

// responsive width
@media (max-width: 1514px) {
    .container {
        padding: 0 40px;
    }
}
@media (max-width: 943px) {
    .container {
        .images-boxes-taverden {
            flex-direction: column;
        }
    }
}

// responsive height
@media (max-height: 830px) {
    .teverden-main-bg {
        margin-top: 100px;
        .container {
            padding: 0 40px;
            padding-top: 80px;
        }
        .wave-blue {
            position: absolute;
            bottom: -80px;
            right: 45px;
            z-index: -2;
        }   
    }
}